<div class="home">
    <h1><a href="https://gitdl.heyfordy.dev">GitDL</a></h1>
    <h4>GitHub Directory Downloader</h4>

    <div class="input-container">
        <input name="url" type="url" placeholder="GitHub File or Directory Link..." class="form-control" ng-model="url" ng-keypress="catchEnter($event)">
        <div class="action-buttons">
            <button type="button" class="btn btn-default" ng-click="download()">Download</button>
            <button type="button" class="btn btn-default" ng-click="createDownLink()">Create Link</button>
        </div>
    </div>

    <div class="processing-section" ng-show="isProcessing.val">
        <div class="spinner"></div>
        <p>Downloaded {{downloadedFiles.val}} of {{totalFiles.val}} files</p>
    </div>

    <textarea class="form-control download-link-box" ng-model="downUrl" ng-show="downUrl" readonly></textarea>

    <div class="footer">
        <a target="_blank" href="https://github.com/elias1731/GitDL">GitDL</a> by <a target="_blank" href="https://github.com/elias1731">heyFordy</a>
    </div>
</div>